@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FF6060;
}

a {
  color: #FF6060; /* Couleur du texte pour l'état normal */
  font-size: 18px;
  text-decoration: none; /* Supprimer le soulignement par défaut des liens */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Style du footer */
footer {
  display: flex;
  background-color: black;
  font-size: 24;
  color: white;
  height: 209px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.taille-content{
  flex-grow: 1;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > a{
  margin-left: 50px;
}

.link {
  text-decoration: underline;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}

.img_footer{
  margin-bottom: 25px;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100vmin;
  display: flex;
  flex-direction: column;
}
.page-header, .page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}
.page-body {
  flex-grow: 1;
}

/* Mask Group */
.image-header{
  width: 100%;
  height: 223px;
  margin-bottom: 38px;
}

/* Background */
.image-header > div{
  height: 223px;
  background: #F7F7F7;
  border-radius: 25px;
}


/* IMG */
.image-header > div > img{
  align-self: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Background */
.image-header > div{
  display:flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-header > div > h2{
  position: absolute;
  color: white;
  font-size: 48px;
}

/* Background */
.image-header > div::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 223px;

  background: rgba(0, 0, 0, 0.3);
  mix-blend-mode: darken;
  border-radius: 25px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  float: right;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  position: relative;
  top: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.rigth{
  width: 45px;
  height: 45px;
  padding: 0;
  border-width: 0 8px 8px 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left{
  width: 45px;
  height: 45px;
  padding: 0;
  border-width: 0 8px 8px 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


.mb-5{
  margin-bottom: 25px;
}

.flex-col-rigth{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .taille-content{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .image-header {
    height: 110px;
  }
  .image-header > div{
    height: 110px;
    border-radius: 10px;
  }
  .image-header > div > h2{
    font-size: 24px;
  }

  .image-header > div::before {
    height: 110px;
    border-radius: 10px;
  }

  a {
    font-size: 12px;
  }

  nav > a{
    margin-left: 20px;
  }
  .up{
    top:6px;
    right: 4px;
  }
  .arrow {
    border-width: 0 3px 3px 0;
    padding: 4px;
  }
}

@media (max-width: 425px) {
  .arrow {
    border-width: 0 2px 2px 0;
    padding: 4px;
  }
  .up{
    top:4px;
    right: 4px;
  }
}